<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="css/cumarket.css">
    <link rel="stylesheet" href="css/detail.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        $(function () {

        });

    </script>
</head>

<body>
<th:block th:include="header.html"></th:block>
<!--이미지 (슬라이더 가능하면 슬라이더로)-->
<section id="article-images">
    <div>
        <div class="image-wrap">
            <img class="d-image">
        </div>
    </div>
</section>

<!--프로필-->
<section id="article-profile">
    <div id="article-profile-t">
        <div class="space-between">
            <div style="display: flex;">
                <div id="article-profile-image">
                    <img src="/images/profile.png">
                </div>
                <div id="article-profile-left">
                    <div id="nickname" th:text="${board.bwriter}"></div>
                    <div id="local" th:text="${board.bloc}"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="article-description">
    <h1 id="btitle" style="margin-top: 0px" th:text="${board.btitle}"></h1>
    <p id="bpname" th:text="${board.bpname}"> &nbsp<time id="bdate" th:text="${#dates.format(baord.bdate, 'yyyy-MM-dd HH:mm:ss')}"></time></p>
    <p id="bprice" th:text="${board.bprice}" }></p>
    <div id="article-content">
        <p id="bcontent" th:text="${board.bcontent}">

        </p>
    </div>
    <div class="btn-area">
        <button id="backbtn">목록</button>
        <button id="upbtn">수정</button>
        <button>삭제</button>
    </div>
</section>

<!--댓글 기능-->
<section>

</section>
<th:block th:include="footer.html"></th:block>

</body>
<script th:inline="javascript">
    $("#backbtn").click(function () {
        location.href = "/?pageNum=" + [[${session.pageNum}]];
    });

    $("#upbtn").click(function (){
        let pw = prompt("비밀번호를 입력하세요.");
        console.log(pw);
        if (pw == null || pw == ""){
            alert("비밀번호가 입력되지 않았습니다.");
            return;//여기서 함수 종료.
        }

        if (pw == [[${board.bpwd}]]){
            location.href = "updateFrm?bnum=" + [[${board.bnum}]];
        }
        else {
            alert("비밀번호가 틀립니다.");
        }
    });
</script>
</html>