<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/cumarket.css">
  <title>오이마켓</title>
</head>
<body>
<th:block th:include="header.html"></th:block>
<!-- Header -->
<section class="wep--section__first wep_body">
  <div class="wep--section__wrap flex justify-between">
    <div class="wep--section__f1">
      <p class="wep--section__content1">당신 근처의<br/>오이마켓</p>
      <p class="wep--section__content2">중고 거래부터 동네 정보까지, 이웃과 함께해<br/>가깝고 따듯한 당신의 근처를 만들어요.</p>
    </div>
    <div class="wep--section__f2">
      <img class="wep--section__p1" alt="#" src="images/bg1.png">
    </div>
  </div>
</section>
<!-- Section 1 -->
<section class="wep--section__second wep_body">
  <div class="wep--section__wrap flex justify-between">
    <div class="wep--section__f2">
      <img class="wep--section__p1" alt="#" src="images/bg2.png">
    </div>
    <div class="wep--section__f1">
      <p class="wep--section__content1">우리 동네<br/>중고 직거래 마켓</p>
      <p class="wep--section__content2">동네 주민들과 가깝고 따듯한 거래를 지금 경험해 보세요.</p>
      <button class="wep--section__b1 over input" ><a class="a" href="#">인기매물 보기</a></button>
      <button class="wep--section__b1 over input"><a class="a" href="#">믿을 수 있는 중고거래</a></button>
    </div>
  </div>
</section>
<!-- Section 2 -->
<section class="wep--section__third wep_body">
  <div class="wep--section__wrap flex justify-between">
    <div class="wep--section__f1">
      <p class="wep--section__content1">이웃과 함께 하는<br/>동네생활</p>
      <p class="wep--section__content2">우리 동네의 다양한 이야기를 이웃과 함께 나누어요.</p>
    </div>
    <div class="wep--section__f2">
      <img class="wep--section__p1" alt="#" src="images/bg3.png">
    </div>
  </div>
</section>
<!-- section3 -->
<section class="wep--section__second wep_body">
  <div class="wep--section__wrap flex justify-between">
    <div class="wep--section__f2">
      <img class="wep--section__p1" alt="#" src="images/bg4.png">
    </div>
    <div class="wep--section__f1">
      <p class="wep--section__content1">내 근처에서 찾는<br/>동네가게</p>
      <p class="wep--section__content2">우리 동네 가게를 찾고있나요?<br/>동네 주민이 남긴 진짜 후기를 함께 확인해보세요!</p>
      <button class="wep--section__b1 over input"><a class="a" href="#">오이마켓 동네가게 찾기</a></button>
    </div>
  </div>
</section>
<th:block th:include="footer.html"></th:block>


</body>
<script th:inline="javascript">
  $(function(){
    let msg = [[${msg}]];
    if(msg != null){
      alert(msg);
    }
  });
</script>

</html>