<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<link rel="stylesheet" href="css/join.css">
<body>
<th:block th:include="header.html"></th:block>

<div class="wep_body">
    <form th:action="@{writeProc}" method="post" class="write-form"
          enctype="multipart/form-data">
        <h2 class="login-header">회원가입</h2>

        <input type="text" class="write-input" name="m_id"
               autofocus placeholder="아이디를 입력하세요." required>
        <input type="password" class="write-input" name="m_pwd"
               placeholder="비밀번호를 입력하세요." required>
        <input type="text" class="write-input" name="m_name"
               placeholder="이름을 입력하세요." required>
        <input type="text" class="write-input" name="m_birth"
               placeholder="생년월일을 입력하세요." required>
        <input type="text" class="write-input" name="m_mail"
               placeholder="이메일을 입력하세요." required>
        <input type="text" class="write-input" name="m_phone"
               placeholder="전화번호를 입력하세요." required>

        <div class="btn-area">
            <input type="submit" class="btn-write" value="가입">
        </div>
    </form>
</div>

<th:block th:include="footer.html"></th:block>
</body>
<script th:inline="javascript">
    $(function(){
        let msg = [[${msg}]];
        if(msg != null){
            alert(msg);
        }
    });
</script>
</html>