<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<link rel="stylesheet" href="css/join.css">
<body>
<th:block th:include="header.html"></th:block>

<div class="wep_body">
    <form th:action="@{writeProc}" method="post" class="write-form"
          enctype="multipart/form-data">
        <h2 class="login-header">회원가입</h2>
        <input type="text" id="idin" class="write-input" name="mid"
               autofocus placeholder="아이디를 입력하세요." required>
        <span id="idcheck" style="justify-content: center; display: flex"></span>
        <input type="password" class="write-input" name="mpwd"
               placeholder="비밀번호를 입력하세요." required>
        <input type="text" class="write-input" name="mname"
               placeholder="이름을 입력하세요." required>
        <input type="text" class="write-input" name="mbirth"
               placeholder="생년월일 입력하세요.(8자리)" required>
        <input type="text" class="write-input" name="mmail"
               placeholder="이메일을 입력하세요." required>
        <input type="text" class="write-input" name="mphone"
               placeholder="전화번호를 입력하세요.(숫자만)" required >
        <div class="btn-area">
            <input type="submit" class="btn-write" value="가입">
        </div>
    </form>
</div>

<th:block th:include="footer.html"></th:block>
</body>
<script th:inline="javascript">
    $(function(){
        let msg = [[${msg}]];
        if(msg != null){
            alert(msg);
        }
    });
    $("#idin").keyup(function () {
        let mid = $("#idin").val();
        let a = $("#idcheck");
        if(mid == ""){
            a.html("");
            return;
        }
        let data = {"mid": mid};

        let rs = null;

        $.ajax({
            url: "idcheck",
            type: "post",
            data: data,
            success: function (num) {
                if (num == "1") {
                    a.html("사용 가능한 아이디").css("color", "black");
                } else if (num == "2") {
                    a.html("이미 사용중인 아이디").css("color", "red");
                } else {
                    a.text("뭔가 오류").css("color", "red");
                }
            },
            error(num) {
                console.log(num);
                a.text("오류");
            }
        });
        console.log(data);
    });
</script>
</html>