*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a:visited {
    text-decoration: none; color: black;
}


.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.li{
    list-style: none;
}

.justify-between{
    justify-content: space-between;
}

.justify-content{
    justify-content: center;
}

.input{
    border-radius: 5px;
}

.wep_body{
    height: 700px;
    width: 100%;
    background-color: rgb(250, 247, 242);
}
.wep--section__wrap{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}


.wep--header__wrap{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 1;
}
.wep--header{
    max-width: 1200px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.wep--header__logo{
    margin: 0 auto;
}

.wep--logo{
    font-size: 25px;
    color: green;
    margin-right: 30px;
}

.wep--header__menu>li{
    font-size: 18px;
    margin-right: 20px;
}
.wep--header__menu>li>a{
    font-weight: 600;
}

.wep--header__back>li{
    font-size: 18px;
    margin-right: 20px;
}
.wep--header__back>li>a{
    font-weight: 600;
}

.wep--header__menu>li>a:hover{
    color: green;
}
.wep--header__search{
    width: 300px;
    height: 40px;
    padding: 10px;
    background: #eeeef3;
    border: 0px;
}

.active{
    color: green;
}

.wep--header__chat{
    width: 86px;
    height: 40px;
    background: white;
    border-width: 1px;
    font-size: 15px;
    font-weight: 600;
}
.over:hover{
    background-color: #f1f3f5;
    cursor: pointer;
}


.app-products--footer {
    margin-top: 50px;
}

.app-link {
    font-weight: bold;
    text-decoration: underline;
}

.app-footer {
    padding: 50px 0 100px;
}

.app-footer--top {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #eee;
}

.app-footer-categories {
    margin: 30px auto 0;
    width: 800px;
    display: flex;
    justify-content: space-between;
    color: #333;
}

.app-footer-categories li:hover {
    text-decoration: underline;
}

.app-footer-content__wrapper {
    padding-top: 30px;
    width: 750px;
    margin: 0 auto;
}

.app-footer-content {
    display: flex;
    justify-content: space-between;
}

.app-footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
}

.app-footer-nav li {
    width: 33%;
    padding: 20px 0;
    font-size: 14px;
    color: #555;
}

.app-footer-app__title {
    font-size: 14px;
    font-weight: bold;
}

.app-footer-content .button-group {
    margin-top: 10px;
}

.button {
    height: 55px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    background-color: #f1f3f5;
    color: #212529;
}

.button-group {
    margin-top: 30px;
    display: flex;
    column-gap: 10px;
}


.button.vertical-small {
    height: 40px;
}

.button.font-small {
    font-size: 14px;
}


/*0000000000000000000000000000000000000000000000000000000000000000000000000*/

.write-form {
    max-width: 600px;
    padding: 15px;
    margin: 0px auto;
}

.login-header{
    height: 50px;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    color: green;
}


.write-form .write-input {
    position: relative;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 350px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s;
    margin: 10px auto;
    text-align: center;
}


.btn-write {
    width: 350px;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    border-color: green;
    margin-top: 10px;
    background-color: green;
    color: white;
}

.btn-area {
    width: 400px;
    height: 50px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}





