.login-form, .login-header {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: green;
}

.data-area {
    max-width: 800px;
    margin: 10px auto;
    color: green;
    font-size: 35px;
    text-align: center;
}

.data-area {
    margin: 10px auto;
    max-width: 800px;

}

.content{
    background-color: rgb(250, 247, 242);
    height: 1200px;
}



/*.title-row .t-date, .title-row .t-view, .data-row .t-date, .data-row .t-view*/
/*{*/
/*    display: none;*/
/*}*/

.p-10 {
    width: 10%;
}
.p-15 {
    width: 15%;
}
.p-25 {
    width: 25%;
}
.p-30 {
    width: 30%;
}
.p-45 {
    width: 45%;
}
.p-85 {
    width: 75%;
}
.dp-30, .dp-20, .dp-15, .dp-10, .dp-40 {
    width: 75%;
}
.user-info:before, .user-info:after, .board-title:before, .board-title:after,
.title-row:before, .title-row:after, .data-row:before, .data-row:after
{
    display: table;
    content: " ";
}

.user-info:after, .board-title:after, .title-row:after, .data-row:after
{
    clear: both;
}

.title-row>div {
    display: block;
    float: left;
    height: 30px;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.data-row>div {
    display: block;
    float: left;
    height: 40px;
    font-size: 14px;
    line-height: 2.5;
    text-align: center;
    background-color: #e7e7e7;
    border: 1px solid #bfbfbf;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    overflow: hidden;
    padding: 2px;
}

.btn-area .paging {
    width: 100%;
    height: 30px;
    margin: 0px auto;
    opacity: 0.8;
    text-align: center;
}

.paging .pno {
    background-color: #efefef;
    margin: 2px;
    border: 1px solid #6c6c6c;
    border-radius: 3px;
    line-height: 1.5;
    font-size: 15px;
    height: 20px;
}

.paging>a {
    text-decoration: none;
}

.paging>a:visited {
    color: #575757;
}

.btn-area {
    margin: 0px auto;
    width: 300px;
    text-align: center;
    margin-bottom: 100px;
}

.board-form{
    padding: 30px;
}