.write-form {
    max-width: 600px;
    padding: 15px;
    margin: 0px auto;
}

.write-form .write-input {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ta {
    margin-top: 5px;
    margin-bottom: 15px;
    resize: none;
}

.d_content {
    display: block;
    float: left;
    height: 30px;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 20px;
}

.file_h {
    height: 60px;
    line-height: 55px;
    box-sizing: border-box;
}
span.file-title {
    height: 40px;
    line-height: 40px;
    float: left;
    padding: 0 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid gray;
}
.filebox .upload-name {
    display: inline-block;
    width: 79%;
    height: 35px;
    font-size: 16px;
    padding: 0 10px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-top: 10px;
}
.btn-write {
    width: 100px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 6px;
    color: white;
    background-color: green;
    margin-top: 10px;
    border-color: green;
    cursor: pointer;
}

.btn-write[type="reset"], .btn-write[type="button"] {
    background-color: #f68c8e;
    border-color: #ff7575;
}



@media only screen and (max-width: 1200px) {
    .content {
        max-width: 100%;

    }

    .board-form, .write-form {
        max-width: 360px;
        padding: 0px;
    }

    .filebox label {
        text-align: center;
        width: 100%;
    }
    .filebox .upload-name {
        width: 100%;
    }
    #file{
        margin-left: 20px;
    }

}

